.Carousel{
    width: 50% !important;
    margin: auto;
    /* position: absolute; */
    position: absolute;
    top: 100px;
    left: 40%
}

.mainForm{
    width:20%
}
.empty{
    position: absolute;
    top: 200px;
    left: 40%;

}
.updatebook{
    /* background-color: black;
    font-size: 20px;
    color: white; */
    position: absolute;
    left: 10%;
    border: solid 2px black;
    margin:5px;
    padding: 15px;
}
.closebutton{
    position: absolute;
    top: 500px;
    left: 300px;
}
/* .addbutton{
    position: absolute;
    top: 110px;
    left: 270px; 
} */